/* basic color
color: #212121; 
color: #ffffff
color: #757575
color: #2196F3
color: #F5F4FA

/* ------------Синтаксис переменных color------*/
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-text-color: #2196f3;
  --text-bacground-color: #ffffff;
  --primary-bacground-color: #2f303a;
  --secondary-bacground-color: #f5f4fa;
  --secondary-logo-color: #ffffff;
  --first-logo-color: black;
}

body {
  font-family: 'roboto', sans-serif;
  color: var(--primary-text-color);
}

/* служебный класс */
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* ---------------------HEADER---------- */

.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
}
.accent {
  color: var(--first-logo-color);
}
.header-link:hover,
.header-link:focus,
.header-tel:hover,
.header-tel:focus,
.header-mail:hover,
.header-mail:focus {
  color: var(--accent-text-color);
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.header-tel,
.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

/* -----------------------HERO------------- */
.hero {
  background-color: var(--primary-bacground-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--text-bacground-color);
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: var(--text-bacground-color);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}
.hero-btn {
  cursor: pointer;
}
/* -------------ABOUT--------- */
.about-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.about-after-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.about-doing {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
/* -----------------MASTERS------------------------ */
.team {
  background-color: var(--secondary-bacground-color);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.team-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* ---------------FOOTER----------- */
.footer {
  background-color: var(--primary-bacground-color);
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.accent-white {
  color: var(--secondary-logo-color);
}
.footer-location {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-bacground-color);
}
.footer-mail,
.footer-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-location:hover,
.footer-location:focus,
.footer-mail:hover,
.footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-text-color);
}

/* ------------------PORTFOLIO---------------------- */
.filtr-btn {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
  background-color: var(--secondary-bacground-color);
}
.filtr-btn {
  cursor: pointer;
}
.filtr-btn:hover,
.filtr-btn:focus {
  color: var(--text-bacground-color);
  background-color: var(--accent-text-color);
}
/* ---------------PROject---------- */
.project-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.after-title-project {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
